ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
a {
  text-decoration: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.list {
  list-style-type: none;
}
.link {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}
.container {
  max-width: 318px;
  padding-left: 15px;
  padding-right: 15px;
}
/*---------MOMILE HEADER STYLE----*/
.menu {
  display: none;
}
.menu-content {
  display: none;
}
.page-header {
  padding-top: 16px;
  padding-bottom: 16px;
}
.logo {
  color: #4d5ae5;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo .accent {
  color: #2e2f42;
}

@media screen and (max-width: 767px) {
  .open-menu-button {
    background-color: transparent;
    border: none;
    padding: 0;
    stroke: #111111;
  }
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .mobile-menu-window {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 999999;
    background-color: #fff;

    transform: translateX(100%);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-window.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-container {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 72px 24px 40px 16px;
  }

  .mobile-close-button {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border: 1px solid #e7e9fc;
    border-radius: 50%;
    top: 24px;
    right: 24px;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    fill: #2e2f42;
    line-height: 0;
  }

  .mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: auto;
    gap: 40px;
    margin-bottom: auto;
  }
  .mobile-menu-navigation {
    margin-bottom: 168px;
  }

  .mobile-menu-link {
    color: #2e2f42;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-menu-link :hover,
  .mobile-menu-link :focus {
    color: #404bbf;
  }

  .mobile-sotial-groupe {
    margin-top: auto;
  }

  .address-link-mobile {
    display: block;
    padding-bottom: 24px;
    color: #434455;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
    letter-spacing: 0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .address-link-mobile:hover,
  .address-link-mobile:focus {
    color: #404bbf;
  }
  .mobile-sotial {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }
  .mobile-sotial-link {
    display: flex;
    border-radius: 50%;
    background-color: #4d5ae5;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 24px;
    fill: #f4f4fd;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .mobile-sotial-link:hover,
  .mobile-sotial-link:focus {
    background-color: #404bbf;
  }
  .mobile-sotial-icons {
    width: 40px;
    height: 40px;
  }
}
/*--------- /MOMILE HEADER STYLE----*/

/*------------MOBILE SECTION 1 STYLE----------*/
@media screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx),
  screen and (min-devise-pixel-raito: 2) {
  .main-page {
    background-image: url(../images/Dark-bg@2x.jpg);
  }
}

.main-page {
  display: block;
  height: 432px;
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/Dark-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 320px;
  margin: 0 auto;
  background-position: center;

  .main-title {
    color: #fff;
    text-align: center;
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    margin-left: auto;
    margin-right: auto;
    max-width: 288px;
    padding-top: 72px;
  }
  .button {
    display: block;
    border: none;
    cursor: pointer;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    margin-right: auto;
    margin-left: auto;
    padding: 16px 32px;
    margin-top: 72px;
    min-width: 169px;
    height: 56px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .button:hover,
  .button:focus {
    background-color: #404bbf;
  }
}
@media screen and (min-width: 768px) {
  .container {
    max-width: 766px;
  }

  /*--------- TABLET HEADER STYLE----*/
  .open-menu-button {
    display: none;
  }
  .mobile-menu-window {
    display: none;
  }
  .menu {
    display: flex;
  }
  .menu-content {
    display: flex;
  }
  .page-navigation {
    display: flex;
    align-items: center;
  }
  .page-header {
    border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
  }
  .page-header-container {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    display: flex;
    gap: 40px;
  }
  .logo {
    margin-right: 120px;
  }
  .menu-link {
    display: block;
    color: #2e2f42;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  .menu-link:hover,
  .menu-link:focus {
    color: #404bbf;
  }
  .studio-link {
    position: relative;
    color: #404bbf;
  }
  .studio-link::after {
    content: "";
    display: flex;
    width: 48px;
    height: 4px;
    margin-left: auto;
    margin-right: auto;
    background-color: var(--OCEAN, #404bbf);
    border-radius: 2px;
    margin-top: 20px;
    position: absolute;
    left: 0;
    bottom: -1px;
  }
  .menu-content {
    font-style: normal;
  }
  .adress-content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding: 16px 0 16px;
  }
  .address-link {
    display: block;
    color: #434455;
    font-size: 12px;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .address-link:hover,
  .address-link:focus {
    color: #404bbf;
  }

  /*--------- /TABLET HEADER STYLE----*/

  /*-----------TABLET SECTION 1 STYLE------------*/

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devise-pixel-raito: 2) {
    .main-page {
      background-image: url(../images/Dark-bg-tablet@2x.jpg);
    }
  }
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tablet.jpg);
    max-width: 768px;
    height: 436px;
  }

  .main-title {
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    max-width: 496px;
    margin-bottom: 36px;
    padding-top: 112px;
  }


@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
  }

  /*---------DESKTOP HEADER STYLE----*/
  .adress-content {
    flex-direction: row;
    justify-content: flex-end;
    gap: 40px;
    padding: 24px 0 24px 0;
  }

  .address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
  /*--------- /DESKTOP HEADER STYLE----*/
  /*---------DESKTOP SECTION 1 STYLE-------*/
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-devise-pixel-raito: 2) {
    .main-page {
      background-image: url(../images/Dark-bg-maine@2x.jpg);
    }
  }
  .main-page {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people.jpg);
    max-width: 1440px;
  }
  .main-title {
    margin-bottom: 48px;
  }
}
